snippet php
    <?php 
        ${1} 
    ?>

snippet get
	$_GET${1}

snippet post
	$_POST${1}

snippet server
	$_SERVER${1}

snippet vd
	var_dump(${1});

snippet vdd
	var_dump(${1});
	die();${2}

snippet function
	${1:public} function ${2}()
	{
		${3}
	}

snippet this
	$this->${1};${2}

snippet test
	/** @test */

